/* Réinitialisation des marges et des rembourrages pour tous les éléments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url(images/font.jpeg);
    backdrop-filter: blur(10px); /* Applique un flou de 5 pixels */

}

nav {
    background-color: #24262b;
    color: aliceblue;
    padding: 10px 0; /* Espacement intérieur */
}

h1 {
    color: aliceblue;
}

.container {
    max-width: 1200px;
    margin: auto; /* Centrage horizontale */
    padding: 20px; /* Espacement intérieur */
   
}

.card {
    margin-bottom: 40px; /* Espacement entre les cartes */
}

footer {
    background-color: rgb(14, 14, 14);
    color: aliceblue;
    text-align: center;
    padding: 20px 0; /* Espacement intérieur */
}

.panier {
    position: absolute;
    float: right;
    top: 30px;
    right: 0px;
    width: 500px;
    height: 500px;
  
}

@media (max-width: 768px) {
    .container {
        padding: 10px; /* Réduire l'espacement intérieur sur les petits écrans */
    }
}

.footer{
    background-color: #24262b;
    padding: 30px 0;
}

.footer-col{
   width: 25%;
   padding: 0 15PX;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e5a50f;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

button {
    background-color: #101401; 
    color: white; 
    padding: 12px 24px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    }

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius:50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #e7a52b;
}
